<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CRM System</title>

		<!-- Custom styles for this template -->
		<link href="/base.css" rel="stylesheet">
	</head>

	<body>
    <header>
      <div class="title">
				<h1>Theresa's CRM</h1>
			</div>
      <nav>
        <ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/contacts/new">Add a contact</a></li>
  				<li><a href="/contacts">All Contacts</a></li>
  			</ul>
      </nav>
    </header>
    <main class="container">
      <%= yield %>
		</main><!-- /.container -->
    <div class="footer">
      <h1>&copy; Bitmaker 2017</h1>
    </div>
	</body>
</html>
