<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>css displaylayout</title>

		<!-- Custom styles for this template -->
		<link href="/base.css" rel="stylesheet">
	</head>

	<body>
    <header>
      <div class="title">
				<h1>Theresa's CRM</h1>
			</div>
      <nav>
        <ul>
  				<li>Home</li>
  				<li>Add a contact</li>
  				<li>About</li>
  			</ul>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
		</div><!-- /.container -->
    <div class="footer">
      <h1>&copy; Bitmaker 2017</h1>
    </div>
	</body>
</html>
