<!-- Implement a form to add a new contact -->
<h1>Create new Contact</h1>

<!-- using the POST method so that we can submit data to our server -->
<form action='/contacts' method='post'>
  <input type='text' name='first_name'>
  <input type='text' name='last_name'>
  <input type='text' name='email'>
  <input type='text' name='note'>
  <input type='submit' value='New Contact'>
</form>
